@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
    font-family: "Inter Variable", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Roboto Mono", monospace;
}

a {
    color: inherit;
    text-underline-offset: 3px;
}

a:hover {
    opacity: 0.7;
}

section {
    scroll-margin-top: 5rem;
}

code {
    font-family: "JetBrains Mono Variable", monospace;
}
