@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        line-height: 1.8;
    }
}

html {
    scroll-behavior: smooth;
    font-family: "IBM Plex Serif", serif;
}

h1 {
    font-family: "Red Hat Display Variable", sans-serif;
}

a {
    text-underline-offset: 3px;
}

a:hover {
    background-color: var(--color-neutral-200);
}

.dark a:hover {
    background-color: var(--color-neutral-800);
}

section {
    scroll-margin-top: 5rem;
}

code {
    font-family: "JetBrains Mono Variable", monospace;
}
