---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout
    pageTitle="Page Not Found"
    description="404 page for Anurag Mishra's personal website"
>
    <section
        class="flex flex-col items-center justify-center min-h-[60vh] text-center px-6"
    >
        <h1 class="text-4xl md:text-5xl font-semibold mb-4">404</h1>

        <p class="mb-2">That page doesn't exist :0</p>

        <!-- todo-->
        <a href="/" class="text-[#1772ea] dark:text-[#73b0ff] hover:underline"
            >Go back home!</a
        >
    </section>
</BaseLayout>
