---
import BaseLayout from "../layouts/Layout.astro";
import { getSortedPosts } from "../utils/content-utils";

const allPosts = await getSortedPosts();
---

<BaseLayout
    pageTitle="Blog- Anurag Mishra"
    description="A collection of blog posts by Anurag Kumar Mishra on software development, side projects, and coding tutorials."
>
    <section class="mx-auto px-4 py-12">
        <h1 class="text-3xl md:text-4xl font-semibold mb-6">Blog</h1>

        <ul class="space-y-6">
            {
                allPosts.map((post) => (
                    <li>
                        <a href={`/posts/${post.id}/`} class="block group">
                            <h2 class="text-xl font-medium text-neutral-800 dark:text-neutral-200 group-hover:text-neutral-500 transition-colors">
                                {post.data.title}
                            </h2>

                            {post.data.description && (
                                <p class="text-sm text-neutral-600 dark:text-neutral-400 mt-1">
                                    {post.data.description}
                                </p>
                            )}

                            {post.data.pubDate && (
                                <p class="text-xs text-neutral-500 dark:text-neutral-500 mt-1">
                                    {new Date(
                                        post.data.pubDate,
                                    ).toLocaleDateString(undefined, {
                                        year: "numeric",
                                        month: "short",
                                        day: "numeric",
                                    })}
                                </p>
                            )}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
