---
import Layout from "../layouts/Layout.astro";
import profileImg from "../assets/pfp.webp";
---

<Layout
    pageTitle="Anurag Mishra"
    description="My space on the web! I write stuff here!"
>
    <div class="mx-auto px-4 py-12 space-y-4">
        <section id="home" class="text-center space-y-4">
            <img
                src={profileImg.src}
                alt="Profile"
                class="mx-auto rounded-full w-24 h-24 object-cover ring-1 ring-neutral-300 dark:ring-neutral-700"
            />
            <h1
                class="text-black dark:text-white text-2xl md:text-3xl font-semibold"
            >
                Anurag Kumar Mishra
            </h1>
        </section>

        <p class="">
            I love to play chess, travel and listen to <a
                class="text-black dark:text-white"
                href="https://www.youtube.com/@ashreyl">[aashreyan]</a
            > sing. Many things capture my interest, and this website shows some of
            them.
        </p>
        <section>
            <p class="">
                Reach out: <a href="mailto:yoiam420@gmail.com" class="ml-1">
                    [yoiam420@gmail.com]
                </a> or @anuragam on Discord
                <br />
                Find me:&nbsp;&nbsp;&nbsp;
                <a
                    href="https://github.com/theAnuragMishra"
                    target="_blank"
                    rel="noopener noreferrer">[GitHub]</a
                >&nbsp;&nbsp;&nbsp;
                <a
                    href="https://x.com/giuocopianosimp"
                    target="_blank"
                    rel="noopener noreferrer">[Twitter]</a
                >&nbsp;&nbsp;&nbsp;
                <a
                    href="https://www.linkedin.com/in/the-anurag-mishra/"
                    target="_blank"
                    rel="noopener noreferrer">[LinkedIn]</a
                >&nbsp;&nbsp;&nbsp;
            </p>
        </section>
    </div>
</Layout>

<style></style>
