---
import Layout from "../layouts/Layout.astro";
import profileImg from "../assets/pfp.webp";
---

<Layout
    pageTitle="Anurag Mishra"
    description="My space on the web! I write stuff here!"
>
    <div class="mx-auto md:px-4 py-12 space-y-4">
        <section id="home" class="text-center space-y-4">
            <img
                src={profileImg.src}
                alt="Profile"
                class="mx-auto rounded-full w-24 h-24 object-cover ring-1 ring-neutral-300 dark:ring-neutral-700"
            />
            <h1
                class="text-black dark:text-white text-3xl md:text-4xl font-semibold"
            >
                Anurag Mishra
            </h1>
        </section>

        <p class="">
            Hello! I'm Anurag and I love to listen to <a
                class="font-bold colored-link"
                href="https://www.youtube.com/@ashreyl">[aashreyan]</a
            > sing. I love to explore a lot of things, and this website shows some
            of them.
        </p>
        <p class="">
            Reach out: <a
                href="mailto:yoiam420@gmail.com"
                class="ml-1 colored-link"
            >
                [yoiam420@gmail.com]
            </a>
            <br />
            Non-exhaustive set of places I am at:&nbsp;&nbsp;&nbsp;
            <a
                class="colored-link"
                href="https://github.com/theAnuragMishra"
                target="_blank"
                rel="noopener noreferrer">[GitHub]</a
            >&nbsp;&nbsp;&nbsp;
            <a
                class="colored-link"
                href="https://x.com/giuocopianosimp"
                target="_blank"
                rel="noopener noreferrer">[Twitter]</a
            >&nbsp;&nbsp;&nbsp;
            <a
                class="colored-link"
                href="https://www.linkedin.com/in/the-anurag-mishra/"
                target="_blank"
                rel="noopener noreferrer">[LinkedIn]</a
            >&nbsp;&nbsp;&nbsp;
        </p>
        <section class="mb-12">
            <p>On this page:</p>
            <ul class="pl-10">
                <li><a href="#chess" class="colored-link">[Chess!]</a></li>
                <li>
                    <a href="#computers" class="colored-link">[Computers!]</a>
                </li>
                <li><a href="#space" class="colored-link">[Space!]</a></li>
                <li>
                    <a href="#others" class="colored-link">[Other things!]</a>
                </li>
            </ul>
        </section>

        <section id="chess" class="mb-12 space-y-4">
            <h2 class="font-semibold text-2xl">Chess!</h2>
            <p>
                I spend a huge chunk of my day playing chess. I started playing
                this game when I was 16 and haven't stopped since. I am more of
                an attacking player, or a crazy-attacking player as I like to
                call myself. I don't believe in slow positional improvement.
                Just push these pawns!.... and attack!! My favorite player is
                Arjun Erigaisi and if you ask from the past- Capablanca! I'm
                currently rated around 2000 rapid and 1850 blitz on chess.com.
            </p>
        </section>
        <section id="computers" class="mb-12 space-y-4">
            <h2 class="font-semibold text-2xl">Computers!</h2>
            <p>
                I also enjoy writing code! A significant amount of my time goes
                in exploring computers, especially the lower levels. I love
                building things but also competitive programming. I started to
                code with web development, but have learnt all kinds of things
                ever since. I'm also an open source enthusiast! Be it using open
                source software or contributing to them, I love doing all sorts
                of open source things!
            </p>
            <p>
                I use Go, Typescript, and Svelte for most of my work, though I
                end up writing C++ for leetcode problems. I started with React
                but Svelte has been my love because it feels much closer to the
                web standards. I use neovim in kitty to write code (<a
                    class="colored-link"
                    href="https://github.com/theAnuragMishra/dotfiles"
                    >[my dotfiles]</a
                >).
            </p>
            <p>
                I am really fascinated by how computer hardware works. I can
                never wrap my head around how some flowing electrons are able to
                create this wizardry. Electronics is my major. We study a lot of
                stuff about how the hardware works, but the fact that all of
                this actually works is still mind blowing. For example, as I
                type this, I can see text moving on my screen. So the flow of
                electrons triggered by my keypress is making pixels move on my
                screen with such precision. Isn't it mind blowing!?
            </p>
            <p>
                I'm pretty active in programming communities on Discord. I love
                talking about tech. If you want to collaborate on a project or
                ask something, just drop a message!
            </p>
        </section>
        <section id="space" class="mb-12 space-y-4">
            <h2 class="font-semibold text-2xl">Space!</h2>
            <p>
                I am also fascinated by how beautiful the universe is. I love
                watching videos related to the space.
            </p>
        </section>
        <section id="others" class="space-y-4">
            <h2 class="font-semibold text-2xl">Other things!</h2>
            <p>
                I used to read a lot before college. Before I got my first
                computer, reading was probably 50% of my data. I read all sorts
                of stuff- history, literature, politics, fiction, science, and
                what not.
            </p>
            <p>
                I also love watching movies, series and documentaries. My
                favorite genre is thriller. I recently finished watching Dark
                (Netflix) and absolutely loved it.
            </p>
        </section>
    </div>
</Layout>
