---
import BaseLayout from "../../layouts/Layout.astro";
import { getSortedPosts } from "../../utils/content-utils";

const allPosts = await getSortedPosts();
---

<BaseLayout
    pageTitle="Writing | Anurag Mishra"
    description="A collection of posts by Anurag Mishra on software development, side projects, and coding tutorials."
>
    <section class="mx-auto md:px-4 py-12">
        <h1 class="text-3xl md:text-4xl font-semibold mb-10">Writing</h1>

        <ul class="space-y-8">
            {
                allPosts.map((post) => (
                    <li>
                        <a
                            href={`/writing/${post.id}/`}
                            class="flex flex-col md:flex-row justify-between items-start hover:bg-amber-100 dark:hover:bg-gray-800"
                        >
                            <div class="">
                                <h2 class="font-semibold text-2xl">
                                    {post.data.title}
                                </h2>

                                {post.data.description && (
                                    <p class="mt-1 text-[14px] text-neutral-600 dark:text-neutral-300">
                                        {post.data.description}
                                    </p>
                                )}
                            </div>
                            <p class="text-sm text-neutral-600 dark:text-neutral-300 mt-1">
                                <i>
                                    {new Date(post.data.pubDate)
                                        .toLocaleDateString("en-GB", {
                                            year: "2-digit",
                                            month: "2-digit",
                                            day: "2-digit",
                                        })
                                        .replaceAll("/", "-")}
                                </i>
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
