---
import BaseLayout from "../../layouts/Layout.astro";
import { getSortedPosts } from "../../utils/content-utils";

const allPosts = await getSortedPosts();
---

<BaseLayout
    pageTitle="Writing | Anurag Mishra"
    description="A collection of posts by Anurag Mishra on software development, side projects, and coding tutorials."
>
    <section class="mx-auto md:px-4 py-12">
        <h1 class="text-3xl md:text-4xl font-semibold mb-10">Writing</h1>

        <ul class="space-y-4">
            {
                allPosts.map((post) => (
                    <li>
                        <a
                            href={`/writing/${post.id}/`}
                            class="normal-link block space-y-2 border-neutral-200 dark:border-neutral-800 p-4 border-4"
                        >
                            <h2 class="font-semibold text-2xl">
                                {post.data.title}
                            </h2>

                            {post.data.description && (
                                <p class="mt-1">{post.data.description}</p>
                            )}

                            <p class="text-sm text-neutral-500 dark:text-neutral-500 mt-1">
                                {new Date(post.data.pubDate)
                                    .toLocaleDateString("en-GB", {
                                        year: "2-digit",
                                        month: "2-digit",
                                        day: "2-digit",
                                    })
                                    .replaceAll("/", "-")}
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
